<div fxLayout="row" style="margin: 50px 0">
  <mat-card fxFlexOrder="2" fxFlex.lt-sm="100" fxFlex.gt-md="60" fxFlex="80">
    <div fxLayout="row">
      <h2 fxFlex>Channels</h2>
      <div fxFlex fxFlexAlign="center" *ngIf="this.form.errors?.error">
        <mat-error style="text-align: end">*Existing channel name!</mat-error>
        <br>
      </div>
    </div>
    <form [formGroup]="form">
      <ng-template ngFor let-channel [ngForOf]="channels" let-i="index">
        <div formGroupName="{{this.channelControl(i)}}" fxLayout="row wrap" fxLayoutGap="2% grid">
          <mat-form-field fxFlex>
            <mat-label><strong>Channel {{i + 1}}</strong> name</mat-label>
            <input required matInput formControlName="{{this.nameControl()}}">
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label><strong>Channel {{i + 1}}</strong> consortium</mat-label>
            <mat-select #consortium required formControlName="{{this.consortiumControl()}}">
              <mat-option *ngFor="let consortium of this.network.consortiums"
                          [value]="consortium.name">{{consortium.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <br>
      </ng-template>
      <div fxLayout.lt-md="column" fxLayout="row" fxLayoutGap="2%">
        <button type="button" color="accent" (click)="addChannel()" mat-button>New channel
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="removeChannel()" *ngIf="this.channels.length > 1" type="button" color="warn" mat-button>
          Remove channel
          <mat-icon>delete</mat-icon>
        </button>
        <div fxFlex></div>
        <button color="accent" mat-flat-button type="submit" matStepperNext>Next
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
  <div fxFlex fxFlexOrder="1"></div>
  <div fxFlex fxFlexOrder="3"></div>
</div>
