<app-toolbar>
  <app-stepper [@.disabled]="true" linear #stepper>
    <cdk-step label="Network" [stepControl]="networkComponent.form">
      <app-network #networkComponent [network]="this.network"></app-network>
    </cdk-step>
    <cdk-step label="Organizations" [stepControl]="organizationsComponent.form">
      <app-organizations
        #organizationsComponent
        [isLocalhost]="this.network.isLocalhost"
        [rootStepper]="stepper"
        [orgs]="this.network.orgs"></app-organizations>
    </cdk-step>
    <cdk-step label="Consortiums" [stepControl]="consortiumsComponent.form">
      <app-consortiums #consortiumsComponent [network]="this.network"></app-consortiums>
    </cdk-step>
    <cdk-step label="Channels" [stepControl]="channelsComponent.form">
      <app-channels #channelsComponent [network]="this.network"></app-channels>
    </cdk-step>
    <cdk-step label="Summary">
      <app-summary *ngIf="stepper.selectedIndex==4" [network]="this.network"></app-summary>
    </cdk-step>
  </app-stepper>
</app-toolbar>
