<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="toolbar-title" routerLink="">{{this.title}}</span>
    <div fxFlex></div>
    <button mat-button [routerLink]="m.link" *ngFor="let m of menus">{{m.name}}</button>
    <ng-template [ngIf]="dropdown">
      <button mat-icon-button [matMenuTriggerFor]="drop">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #drop>
        <div style="padding: 8px 8px">
          <h5>Logged as:</h5>
          <h4>{{dropdown.name}}</h4>
          <mat-divider></mat-divider>
        </div>
        <ng-template ngFor let-menu [ngForOf]="dropdown.menus">
          <ng-template [ngIf]="menu.emit !== undefined" [ngIfElse]="linkButton">
            <button mat-menu-item (click)="this.threeDotsSelected.emit(menu)">{{menu.name}}</button>
          </ng-template>
          <ng-template #linkButton>
            <button mat-menu-item [routerLink]="menu.link">{{menu.name}}</button>
          </ng-template>
        </ng-template>
      </mat-menu>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div>
  <ng-content></ng-content>
</div>
