<app-loading [loading]="loading"></app-loading>
<app-toolbar>
  <div *ngIf="!loading" fxLayout="row" style="margin-top: 50px">
    <div fxFlexOrder="2" fxFlex.lt-sm="100" fxFlex="70" fxFlex.lg="60">
      <mat-card>
        <div fxLayout="row">
          <div>
            <button (click)="this.location.back()" mat-button style="padding-left: 0">
              <mat-icon>arrow_back</mat-icon>
              <span class="bold" style="padding-left:16px;font-size: 20px">Sharing</span>
            </button>
          </div>
        </div>
        <br>
        <div fxLayout="column" fxLayoutGap="4%">
          <div *ngFor="let shared of sharedList; let i = index" fxFlex>
            <mat-list class="paper">
              <div mat-subheader *ngIf="!shared.networkZip.networkConfig.network.isLocalhost">Organization</div>
              <div mat-subheader *ngIf="shared.networkZip.networkConfig.network.isLocalhost">Network</div>
              <mat-list-item>
                <h3>{{this.shared.networkZip.zipName}}</h3>
              </mat-list-item>
              <mat-divider inset="true"></mat-divider>
              <div mat-subheader>Shared with</div>
              <mat-list-item>
                <ng-template [ngIf]="shared.user">
                  <div fxFlex>
                    {{this.shared.user.email}}
                  </div>
                  <div>
                    <button (click)="unshare(i)" mat-stroked-button color="warn">Cancel
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </ng-template>
                <ng-template [ngIf]="!shared.user">
                  <div>
                    <button (click)="openShareDialog(i)" style="width: 100%" mat-flat-button color="primary">Share
                    </button>
                  </div>
                </ng-template>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex fxFlexOrder="3"></div>
    <div fxFlex fxFlexOrder="1"></div>
  </div>
</app-toolbar>
